In [1]:
import pymysql

In [2]:
input_id = '123456'
class_list = 'ACCT1001-01,ACCT1001-02,ACCT1001-03,ACCT1001-04,ACCT1001-05,ACCT1001-06,ACCT1001-07'

In [ ]:
pw_=input("pw : ")

In [4]:
conn=pymysql.connect(host='175.195.89.200',
                        user='fingp',
                        password=pw_,
                        db='fingpDB_test',
                        charset='utf8')

In [5]:
curs=conn.cursor()

In [6]:
sql = ("""INSERT INTO user_tb (`klas_id`, `class_2018_2`)
       VALUES ('{0}', '{1}');""".format(input_id,class_list));

In [7]:
sql

"INSERT INTO user_tb (`klas_id`, `class_2018_2`)\n       VALUES ('123456', 'ACCT1001-01,ACCT1001-02,ACCT1001-03,ACCT1001-04,ACCT1001-05,ACCT1001-06,ACCT1001-07');"

In [8]:
try :
    curs.execute(sql)
    print("suc")
except pymysql.Error as e:
    if e.args[0] == 1062 :
        print("이미 있는거라는거 반환")
    else :
        print("다른 에러러러" + e)
finally : 
    conn.commit() #안하면 적용이 안됨

이미 있는거라는거 반환

In [9]:
curs.close()
conn.close()